<nav class="navbar sticky-bottom navbar-dark bg-dark ">
  <div class="container-fluid navbar-text text-white">
    <%- include('../content/contact.ejs') %>  </div>

  <div class="container-fluid navbar-text">
    <hr>
    &copy;Copyright 2022. All Rights Reserved.
  </div>
</nav>