<nav class="navbar sticky-bottom navbar-dark bg-dark ">
  <div class="container-fluid navbar-text text-white">
    <%- include('./footer-contact.ejs') %>  </div>

  <div class="container-fluid navbar-text" style="font-size: 10px;">
    <hr>
    &copy; 2022 CourierTek. All Rights Reserved.
  </div>
</nav>