<div class="container" id="contact">
  <div class="innertext">
    <div class="row">
      <div class="col-sm-8">
        <h1>Contact</h1><p>
            We have multiple ways for you to reach us and we want to start working with you.<p>
              <i class="fa-solid fa-envelope"></i>  Email: sales@CourierTek.com<br>
              <i class="fa-solid fa-phone"></i>  Phone: 1-800-555-5555<br>
              <i class="fa-solid fa-fax"></i>  Fax: 1-888-555-5566<br>
            <p>
              <i class="fa-solid fa-location-dot"></i>  PO Box 115500 Station B, Toronto, Ontario, Canada
            </p>
      </div>
      <div class="col-sm-4">
        <h2>About us</h2><br>
        Privacy Policy<br>
        Company History<br>
        <a style="color: orange;" href="/contact">Contact</a><br>
      </div>
    </div>
  </div>


