<div class="container" id="contact">
  <div class="innertext">
    <div class="row">
      <div class="col-sm-8">
        <h1>Contact</h1><p>
            To reach us try any of the following:<p>
            Email: inquiry@CourierTek.com<br>
            Phone: 1-800-555-5555<br>
            Fax: 1-888-555-5566<br>
            <p>
            PO Box 115500 Station B, Toronto, Ontario, Canada
            </p>
      </div>
      <div class="col-sm-4">
        <h2>About us</h2><br>
        Privacy Policy<br>
        Company History<br>
        <a href="/contact">Contact</a><br>
      </div>
    </div>
  </div>


