<nav class="bg-light">
  <div class="innertext">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <% if (title == "CourierTek") { %>
        <a class="navbar-brand" style="color: #f56d01" href="/">
          <i class="fa-solid fa-paper-plane"></i> CourierTek</a>
        <% } else { %>
        <a class="navbar-brand" style="color: #f56d01" href="/">
          <i class="fa-solid fa-paper-plane"></i> CourierTek</a>
        <% } %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <% if (title == "CourierTek") { %>
              <a class="nav-link active" href="/">Home</a>
              <% } else { %>
              <a class="nav-link " href="/">Home</a>
              <% } %>
            </li>
            <li class="nav-item">
              <% if (title == "Features - CourierTek") { %>
              <a class="nav-link active" href="/feature">Features</a>
              <% } else { %>
              <a class="nav-link " aria-current="page" href="/feature">Features</a>
              <% } %>
            </li>
            <li class="nav-item">
              <% if (title == "Pricing - CourierTek") { %>
              <a class="nav-link active" href="/price">Pricing</a>
              <% } else { %>
              <a class="nav-link disabled" href="/price">Pricing</a>
              <% } %>
            </li>
            <li class="nav-item">
              <% if (title == "Contact - CourierTek") { %>
              <a class="nav-link active" href="/contact">Contact</a>
              <% } else { %>
              <a class="nav-link" href="/contact" tabindex="-1">Contact</a>
              <% } %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</nav>