<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/header.ejs') %>
</head>

<body>
  <!-- Navigation section-->
  <%- include('./partials/nav.ejs') %>

  <!-- Flex Wrap -->
  <div class="flex-wrapper">

    <!-- Main Content -->
    <div style="margin-top:50px">
      <%- include('./content/' + page + '.ejs') %>
    </div>

    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>

    <!-- JavaScript Section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <script src="/scripts/app.js"></script> -->

  </div>
</body>

</html>