<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/header.ejs') %>
</head>

<body>
  <!-- Navigation section-->
  <%- include('./partials/nav.ejs') %>


  <!-- Flex Wrap -->
  <div class="flex-wrapper">

    <!-- Main Content -->
    <div">
      <%- include('./content/' + page + '.ejs') %>
    </div>

    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>

  </div>

  <button onclick="topFunction()" id="backTopBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>

</body>

  <!-- JavaScript Section-->
  <script src="/scripts/app.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</html>