<!-- Page template - banner -->
<div class="page-template hero" style="background-image: url('../images/contact-1.jpg');">
  <div class="innertext hero-text" style="text-align: left;">
      <h1>Contact Us</h1>
      There are numerous ways to reach us, see below. Or, submit a message and we will address any inquiries you have about CourierTek.
  </div>
</div>

<!-- Form starts here -->
<div class="div-type-1">
  <div class="innertext">
    <div class="container">
      <div class="row">
        <div class="col-sm-5" style="padding-bottom: 15px;">
          <h1 style="text-align: center; font-size: 70pt;"><i class="fa-solid fa-inbox"></i></h1>
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Phone</label>
              <input type="number" class="form-control" id="exampleInputPassword1" placeholder="(xxx)xxx-xxxx">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Company</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <hr>
        </div>

                  
          <!-- Form ends here // Contact details starts here -->
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <h1 style="text-align: center; font-size: 70pt;">
            <i class="fa-solid fa-envelope"></i> 
          </h1>
          <h4 style="font-weight: bold;">Do you have a question about CourierTek?</h4>
          Email our products team sales@CourierTek.com

          <h4 style="font-weight: bold; padding-top: 40px;">Already have account? Need support?</h4>
          Email our support team support@CourierTek.com

          <div style="padding-bottom: 40px;"></div>
      </div>
      </div>
    </div>
  </div>
</div>