<!-- Page template - banner -->
<div class="page-template hero" style="background-image: url('../images/page-bg-2.jpg');">
    <div class="innertext hero-text" style="text-align: left;">
        <section>
            <h1>Application Features:</h1>
        <ul>
            <li><a href="#multilanguage" class="list" id="white-link">Multi-Language</a></li>
            <li><a href="#support" class="list" id="white-link">Application Support</a></li>
            <li><a href="#customizability" class="list" id="white-link">Customizability</a></li>
            <li><a href="#mobility" class="list" id="white-link">Mobility</a></li>
            <li><a href="#scalability" class="list" id="white-link">Scalability</a></li>
        </ul>
        </section>
    </div>
</div>

<div class="div-type-2" id="multilanguage">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#multilanguage">
                        <h1>Multi-Language <i class="fa-solid fa-book"></i></h1>
                    </a>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna
                    aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Posuere sollicitudin aliquam
                    ultrices
                    sagittis orci a scelerisque purus semper. Et egestas quis ipsum suspendisse ultrices. Aenean
                    pharetra magna ac
                    placerat vestibulum lectus mauris ultrices eros. Cras ornare arcu dui vivamus. Vehicula ipsum a arcu
                    cursus
                    vitae
                    congue mauris rhoncus. Leo a diam sollicitudin tempor id eu nisl nunc mi. Ut sem viverra aliquet
                    eget sit amet
                    tellus. Ipsum consequat nisl vel pretium. Etiam dignissim diam quis enim lobortis. Venenatis lectus
                    magna
                    fringilla
                    urna porttitor rhoncus dolor purus non. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
                    tincidunt
                    ornare
                    massa. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Sed blandit libero volutpat
                    sed.
                    <div style="padding-top: 50px;">
                        <a href="#support" class="nextBtn">
                            <button type="button" class="btn btn-warning btn-lg">Next Feature <i class="fa-solid fa-down-long text-black"></i></button></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-md" src="../images/shipping-global-1.jpg"><br><br>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-sm" src="../images/warehouse-4.jpg"><br><br>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="img-sm" src="../images/warehouse-3.jpg"><br><br>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-sm" src="../images/shipping-people-2.jpg"><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-1" id="support">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-md" src="../images/support-1.jpg">
                </div>
                <div class="col-sm-6">
                    <a href="#support">
                        <h1>Application Support <i class="fa-solid fa-headset"></i></h1>
                    </a>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna
                    aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Posuere sollicitudin aliquam
                    ultrices
                    sagittis orci a scelerisque purus semper. Et egestas quis ipsum suspendisse ultrices. Aenean
                    pharetra magna ac
                    placerat vestibulum lectus mauris ultrices eros. Cras ornare arcu dui vivamus. Vehicula ipsum a arcu
                    cursus
                    vitae
                    <div style="padding-top: 50px;">
                        <a href="#customizability" class="nextBtn">
                            <button type="button" class="btn btn-warning btn-lg">Next Feature <i class="fa-solid fa-down-long text-black"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-2" id="customizability">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#customizability">
                        <h1>Customizability <i class="fa-solid fa-star"></i></h1>
                    </a>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna
                    aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Posuere sollicitudin aliquam
                    ultrices
                    sagittis orci a scelerisque purus semper. Et egestas quis ipsum suspendisse ultrices. Aenean
                    pharetra magna ac
                    placerat vestibulum lectus mauris ultrices eros. Cras ornare arcu dui vivamus. Vehicula ipsum a arcu
                    cursus
                    vitae
                    congue mauris rhoncus. Leo a diam sollicitudin tempor id eu nisl nunc mi. Ut sem viverra aliquet
                    eget sit amet
                    tellus. Ipsum consequat nisl vel pretium. Etiam dignissim diam quis enim lobortis. Venenatis lectus
                    magna
                    fringilla
                    urna porttitor rhoncus dolor purus non. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
                    tincidunt
                    ornare
                    massa. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Sed blandit libero volutpat
                    sed.

                    <div style="padding-top: 50px;">
                        <a href="#mobility" class="nextBtn">
                            <button type="button" class="btn btn-warning btn-lg">Next Feature <i class="fa-solid fa-down-long text-black"></i></button></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="img-md" src="../images/customize-1.jpg"><br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-1" id="mobility">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-md" src="../images/warehouse-5.jpg">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <img class="img-sm" src="../images/warehouse-6.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <a href="#mobility">
                        <h1>Mobility <i class="fa-solid fa-mobile-screen-button"></i></h1>
                    </a>
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna
                    aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Posuere sollicitudin aliquam
                    ultrices
                    sagittis orci a scelerisque purus semper. Et egestas quis ipsum suspendisse ultrices. Aenean
                    pharetra magna ac
                    placerat vestibulum lectus mauris ultrices eros. Cras ornare arcu dui vivamus. Vehicula ipsum a arcu
                    cursus
                    vitae

                    <div style="padding-top: 50px;">
                        <a href="#scalability" class="nextBtn">
                            <button type="button" class="btn btn-warning btn-lg">Next Feature <i class="fa-solid fa-down-long text-black"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-2" id="scalability">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#scalability">
                        <h1>Scalability <i class="fa-solid fa-ruler"></i></h1>
                    </a>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna
                    aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Posuere sollicitudin aliquam
                    ultrices
                    sagittis orci a scelerisque purus semper. Et egestas quis ipsum suspendisse ultrices. Aenean
                    pharetra magna ac
                    placerat vestibulum lectus mauris ultrices eros. Cras ornare arcu dui vivamus. Vehicula ipsum a arcu
                    cursus
                    vitae
                    congue mauris rhoncus. Leo a diam sollicitudin tempor id eu nisl nunc mi. Ut sem viverra aliquet
                    eget sit amet
                    tellus. Ipsum consequat nisl vel pretium. Etiam dignissim diam quis enim lobortis. Venenatis lectus
                    magna
                    fringilla
                    urna porttitor rhoncus dolor purus non. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
                    tincidunt
                    ornare
                    massa. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Sed blandit libero volutpat
                    sed.

                    <div style="padding-top: 50px;">
                        <a href="/contact">
                            <button type="button" class="btn btn-warning btn-lg">Get Start Today <i class="fa-solid fa-user-tie text-black"></i></button></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                    <img class="img-md" src="../images/office-2.jpg"><br><br>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-sm" src="../images/warehouse-6.jpg"><br><br>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="img-sm" src="../images/analytic-1.jpg"><br><br>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-sm" src="../images/logistics-map.jpg"><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="topFunction()" id="backTopBtn" title="Go to top">Top</button>