<!-- Page template - banner -->

<div class="page-template hero" style="background-image: url('../images/page-bg-2.jpg');">
    <div class="innertext hero-text" style="text-align: left;">
        <section>
            <h1>Application Features:</h1>
        <ul>
            <li><a href="#1" class="list" id="white-link">Multilingual </a></li>
            <li><a href="#2" class="list" id="white-link">Package Tracking</a></li>
            <li><a href="#3" class="list" id="white-link">Customizability</a></li>
            <li><a href="#4" class="list" id="white-link">Mobility</a></li>
            <li><a href="#5" class="list" id="white-link">Scalability</a></li>
        </ul>
        </section>
    </div>
</div>

<div class="div-type-2" id="1">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#1">
                        <h1>Multilingual <i class="fa-solid fa-book"></i></h1>
                    </a>

                <!-- TO DO -->

                    <div style="padding-top: 50px;">
                        <a href="#2" class="nextBtn">
                            <button type="button" class="btn btn-warning btn-lg">Next Feature <i class="fa-solid fa-arrow-down text-black"></i></button></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-md" src="../images/shipping-global-1.jpg"><br><br>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-sm" src="../images/warehouse-4.jpg"><br><br>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="img-sm" src="../images/warehouse-3.jpg"><br><br>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-sm" src="../images/shipping-people-2.jpg"><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-1" id="2">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-md" src="../images/logistics-map.jpg">
                </div>
                <div class="col-sm-6">
                    <a href="#2">
                        <h1>Package Tracking <i class="fa-solid fa-map-location-dot"></i></h1>
                    </a>

                <!-- TO DO -->

                    <div style="padding-top: 50px;">
                        <a href="#3" class="nextBtn">
                            <button type="button" class="btn btn-warning btn-lg">Next Feature <i class="fa-solid fa-arrow-down text-black"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-2" id="3">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#3">
                        <h1>Customizability <i class="fa-solid fa-star"></i></h1>
                    </a>

                <!-- TO DO -->

                    <div style="padding-top: 50px;">
                        <a href="#4" class="nextBtn">
                            <button type="button" class="btn btn-warning btn-lg">Next Feature <i class="fa-solid fa-arrow-down text-black"></i></button></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="img-md" src="../images/customize-1.jpg"><br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-1" id="4">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-md" src="../images/warehouse-5.jpg">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <img class="img-sm" src="../images/warehouse-6.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <a href="#4">
                        <h1>Scalability <i class="fa-solid fa-ruler"></i></h1>
                    </a>
                    
                <!-- TO DO -->

                    <div style="padding-top: 50px;">
                        <a href="#5" class="nextBtn">
                            <button type="button" class="btn btn-warning btn-lg">Next Feature <i class="fa-solid fa-arrow-down text-black"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-2" id="5">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#5">
                        <h1>Mobility <i class="fa-solid fa-mobile-screen-button"></i></h1>
                    </a>

                <!-- TO DO -->

                    <div style="padding-top: 50px;">
                        <a href="/contact">
                            <button type="button" class="btn btn-warning btn-lg">Get Start Today <i class="fa-solid fa-user-tie text-white-50"></i></button></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                    <img class="img-md" src="../images/office-2.jpg"><br><br>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-sm" src="../images/warehouse-6.jpg"><br><br>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="img-sm" src="../images/analytic-1.jpg"><br><br>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-sm" src="../images/logistics-map.jpg"><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="topFunction()" id="backTopBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>