<!-- Page template - banner -->

<div class="page-template hero" style="background-image: url('../images/page-bg-2.jpg');">
    <div class="innertext hero-text" style="text-align: left;">
        <section>
            <h1>Application Features:</h1>
            <ul>
                <li><a href="#1" class="list ">Multilingual </a></li>
                <li><a href="#2" class="list ">Package Tracking</a></li>
                <li><a href="#3" class="list ">Customizability</a></li>
                <li><a href="#4" class="list ">Mobility</a></li>
                <li><a href="#5" class="list ">Scalability</a></li>
            </ul>
        </section>
    </div>
</div>

<div class="div-type-2" id="1">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#1">
                        <h1>Multilingual <i class="fa-solid fa-book"></i></h1>
                    </a>
                    <p> CourierTek can help expand your shipping operations into the international market. If you are
                        already there, then CourierTek can help ensure that your business is still manageable as it
                        continues to expand. Multilingual will help station your business in any country around the
                        globe. This is especially helpful if you plan to incorporate a multilingual team into your
                        company. CourierTek will also provide your staff with a degree of comfort when they are working
                        without comprising any vital business information.
                    </p>
                    <section class="text-black-50">
                        <h4>Features:</h4>
                        <ul>
                            <li class="list">Easily switch languages to your preference</li>
                            <li class="list">Users' own preference will be saved</li>
                        </ul>
                    </section>
                    <div style="padding-top:-50px;">
                        <a href="#2" class="nextBtn">
                            <button type="button" class="btn btn-warning btn-lg">Next Feature <i
                                    class="fa-solid fa-arrow-down text-white"></i></button></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-md" src="../images/shipping-global-1.jpg"><br><br>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-sm" src="../images/warehouse-4.jpg"><br><br>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="img-sm" src="../images/warehouse-3.jpg"><br><br>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-sm" src="../images/shipping-people-2.jpg"><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-1" id="2">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-md" src="../images/logistics-map.jpg">
                </div>
                <div class="col-sm-6">
                    <a href="#2">
                        <h1>Package Tracking <i class="fa-solid fa-map-location-dot"></i></h1>
                    </a>
                    <p>
                        With CourierTek, you can track packages while it is in transport. This feature will help ensure
                        that your customers receive their products successfully. It also allows you to provide your
                        customers with the ability to track their order as it ships to them. Tracking is a high
                        essential feature to help reduce errors and lost merchandise. The application will help your
                        business maintain shipping accuracy regardless of the number of routes or length of distances.
                        The feature also provides detailed records if transaction audits were ever required.
                    </p>
                    <section class="text-black-50">
                        <h4>Features:</h4>
                        <ul>
                            <li class="list">Clock-In and Clock-Out</li>
                            <li class="list">Utilizes device GPS (Global Positioning System)</li>
                            <li class="list">View basic and detailed records</li>
                            <li class="list">Record is stored in a secured database to be viewed</li>
                        </ul>
                    </section>
                    <div style="padding-top:-50px;">
                        <a href="#3" class="nextBtn">
                            <button type="button" class="btn btn-warning btn-lg">Next Feature <i
                                    class="fa-solid fa-arrow-down text-white"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-2" id="3">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#3">
                        <h1>Customizability <i class="fa-solid fa-gear"></i></h1>
                    </a>
                    <p>
                        CourierTek is developed as a shell so that you can tailor the application around your business.
                        You can set and change your shipping rates with ease. CourierTek includes leveled privileges
                        that allow you to tailor it around the tiers within your organization. This feature lets you
                        distribute various control on the application throughout your company - the way you want it!
                    </p>
                    <section class="text-black-50">
                        <h4>Features:</h4>
                        <ul>
                            <li class="list">Tiered administration control</li>
                            <li class="list">Full control shipping strategies</li>
                            <li class="list">Customize shipping fees and packages suitable to your company</li>
                            <li class="list">See full records of organization activities and changes</li>
                        </ul>
                    </section>
                    <div style="padding-top:-50px;">
                        <a href="#4" class="nextBtn">
                            <button type="button" class="btn btn-warning btn-lg">Next Feature <i
                                    class="fa-solid fa-arrow-down text-white"></i></button></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="img-md" src="../images/customize-1.jpg"><br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-1" id="4">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-md" src="../images/warehouse-5.jpg">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <img class="img-sm" src="../images/warehouse-6.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <a href="#4">
                        <h1>Scalability <i class="fa-solid fa-ruler"></i></h1>
                    </a>
                    <p>If your organization is looking to scale upwards or outwards, CourierTek will scale with you.
                        CourierTek will let
                        you expand and manage your team with ease. We always keep potential growth in mind. CourierTek's
                        design is easy to learn, which will reduce downtime when training recruits. Increase the size of
                        your organization without sacrificing security. CourierTek focuses on organization security,
                        ensuring your business is protected as you grow.</p>
                    <section class="text-black-50">
                        <h4>Features:</h4>
                        <ul>
                            <li class="list">Add or remove members</li>
                        </ul>
                    </section>
                    <div style="padding-top:-50px;">
                        <a href="#5" class="nextBtn">
                            <button type="button" class="btn btn-warning btn-lg">Next Feature <i
                                    class="fa-solid fa-arrow-down text-white"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-2" id="5">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#5">
                        <h1>Mobility <i class="fa-solid fa-mobile-screen-button"></i></h1>
                    </a>
                    <section class="text-black-50">
                        <h4>Features:</h4>
                        <ul>
                            <li class="list">Access all business needs from the application</li>
                            <li class="list">View all shipping transactions</li>
                            <li class="list">Utilizes device GPS</li>
                            <li class="list">Track and monitor shipping routes</li>
                            <li class="list">Make changes to your business</li>
                            <li class="list">Review and resolve issues while travelling from a mobile device</li>
                        </ul>
                    </section>
                    <div style="padding-top:-50px;">
                        <a href="/contact">
                            <button type="button" class="btn btn-warning btn-lg">Get Start Today <i
                                    class="fa-solid fa-user-tie text-white-50"></i></button></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-md" src="../images/office-2.jpg"><br><br>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-sm" src="../images/warehouse-6.jpg"><br><br>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="img-sm" src="../images/analytic-1.jpg"><br><br>
                            </div>
                            <div class="col-sm-6">
                                <img class="img-sm" src="../images/logistics-map.jpg"><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

