<div class="home-hero hero" style="background-image: url('../images/warehouse.jpg');">
    <div class="innertext hero-text">
        <h1>A Modern Courier Solution</h1>
        <h5>Find a way to delivery your business</h5>
        Increase your shipping speeds. Improve your customer-service experience. Modernize your overall business with our lightweight CourierTek software.
        <div style="padding-top: 50px;">
            <a href="/feature">
            <button type="button" class="btn btn-warning btn-lg">
                <strong>See More Details</strong></button>
                </a>
        </div>
    </div>
</div>

<div class="div-type-2" id="mobility">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-md" src="../images/logistics-phone.jpg"><br><br>
                </div>
                <div class="col-sm-6">
                    <a href="#mobility"><h1>Mobility  <i class="fa-solid fa-mobile-screen-button"></i></h1></a>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna
                    aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Posuere sollicitudin aliquam
                    ultrices
                    sagittis orci a scelerisque purus semper. Et egestas quis ipsum suspendisse ultrices. Aenean
                    pharetra magna ac
                    placerat vestibulum lectus mauris ultrices eros. Cras ornare arcu dui vivamus. Vehicula ipsum a arcu
                    cursus
                    vitae
                    congue mauris rhoncus. Leo a diam sollicitudin tempor id eu nisl nunc mi. Ut sem viverra aliquet
                    eget sit amet
                    tellus. Ipsum consequat nisl vel pretium. Etiam dignissim diam quis enim lobortis. Venenatis lectus
                    magna
                    fringilla
                    urna porttitor rhoncus dolor purus non. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
                    tincidunt
                    ornare
                    massa. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Sed blandit libero volutpat
                    sed.
                    <div style="padding-top: 50px;">
                        <a href="/feature/#mobility">
                            <button type="button" class="btn btn-warning btn-lg">Feature Details <i class="fa-solid fa-forward text-black"></i></button>
                        </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-1" id="efficiency">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#efficiency"><h1>Efficiency  <i class="fa-solid fa-gauge-high"></i></h1></a>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna
                    aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Posuere sollicitudin aliquam
                    ultrices
                    sagittis orci a scelerisque purus semper. Et egestas quis ipsum suspendisse ultrices. Aenean
                    pharetra magna ac
                    placerat vestibulum lectus mauris ultrices eros. Cras ornare arcu dui vivamus. Vehicula ipsum a arcu
                    cursus
                    vitae
                    congue mauris rhoncus. Leo a diam sollicitudin tempor id eu nisl nunc mi. Ut sem viverra aliquet
                    eget sit amet
                    tellus. Ipsum consequat nisl vel pretium. Etiam dignissim diam quis enim lobortis. Venenatis lectus
                    magna
                    fringilla
                    urna porttitor rhoncus dolor purus non. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
                    tincidunt
                    ornare
                    massa. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Sed blandit libero volutpat
                    sed.
                </div> 
                <div class="col-sm-6">
                    <img class="img-md" src="../images/organization-people-1.jpg"><br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-2" id="customerxp">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-md" src="../images/shipping-people-1.jpg"><br><br>
                </div>
                <div class="col-sm-6">
                    <a href="#customerxp"><h1>Better Customer Service Experience <i class="fa-solid fa-thumbs-up"></i></h1></a>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna
                    aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Posuere sollicitudin aliquam
                    ultrices
                    sagittis orci a scelerisque purus semper. Et egestas quis ipsum suspendisse ultrices. Aenean
                    pharetra magna ac
                    placerat vestibulum lectus mauris ultrices eros. Cras ornare arcu dui vivamus. Vehicula ipsum a arcu
                    cursus
                    vitae
                    congue mauris rhoncus. Leo a diam sollicitudin tempor id eu nisl nunc mi. Ut sem viverra aliquet
                    eget sit amet
                    tellus. Ipsum consequat nisl vel pretium. Etiam dignissim diam quis enim lobortis. Venenatis lectus
                    magna
                    fringilla
                    urna porttitor rhoncus dolor purus non. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
                    tincidunt
                    ornare
                    massa. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Sed blandit libero volutpat
                    sed.

                    <div style="padding-top: 50px;">
                        <a href="/feature/#multilanguage">
                            <button type="button" class="btn btn-warning btn-lg">See How <i class="fa-solid fa-forward text-black"></i></button>
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>
