<div
  class="home-hero hero"
  style="background-image: url('../images/warehouse.jpg')"
>
  <div class="innertext hero-text">
    <h1>A Modern Courier Solution</h1>
    <h4>Find a way to deliver your business</h4>
    Increase your shipping speeds. Improve your customer-service experience.
    Modernize your overall business with our lightweight CourierTek application.
    <div style="padding-top: 50px">
      <a href="/feature">
        <button type="button" class="btn btn-warning btn-lg">
          See More Details
        </button>
      </a>
    </div>
  </div>
</div>

<div class="div-type-2" id="mobility">
  <div class="innertext">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img class="img-md" src="../images/logistics-phone.jpg" /><br /><br />
        </div>
        <div class="col-sm-6">
          <a href="#mobility">
            <h1>Mobility <i class="fa-solid fa-mobile-screen-button"></i></h1>
          </a>

          CourierTek aims to improve the overall mobility of your business.
          Instead of limiting business operations to strictly from your office
          or workstation, access your company shipping logistics directly from a
          mobile device. View all inbound and outbound transactions from your
          mobile device as you would from a computer without any shortage of
          details. CourierTek is optimized for all mobile device sizes and
          supports current internet browsers.

          <div style="padding-top: 50px">
            <a href="/feature/#5">
              <button type="button" class="btn btn-warning btn-lg">
                See Full Details
                <i class="fa-solid fa-angles-right text-white"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div-type-1" id="efficiency">
  <div class="innertext">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <a href="#efficiency">
            <h1>Efficiency <i class="fa-solid fa-gauge-high"></i></h1>
          </a>

          CourierTek is a lightweight product optimized for a seamless user
          experience as a web application - there is no compromise. The
          characteristic is to help shipping businesses maintain competitiveness
          within the fast-moving industry. CourierTek's interface has a
          logic-oriented design to help our users with quick and easy access to
          all the features on the application. The shipping business continues
          to evolve with shorter delivery times - speed and efficiency are the
          keys! CourierTek can help bolster your company to industry standards
          and challenge your competitors.
        </div>
        <div class="col-sm-6">
          <img class="img-md" src="../images/working-1.jpg" /><br /><br />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div-type-2" id="customerxp">
  <div class="innertext">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img
            class="img-md"
            src="../images/shipping-people-1.jpg"
          /><br /><br />
        </div>
        <div class="col-sm-6">
          <a href="#customerxp">
            <h1>
              Better Customer Service Experience
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </h1>
          </a>

          Improve your customer experience with CourierTek's tailored platform.
          Digitizing your business operation with CourierTek means you will be
          able to handle more transactions with more accuracy. CourierTek offers
          a built-in GPS feature that will allow you to update your customer on
          their delivery. The feature also allows your business to track
          packages to reduce missing or lost merchandise.

          <div style="padding-top: 50px">
            <a href="/feature/#2">
              <button type="button" class="btn btn-warning btn-lg">
                See How
                <i class="fa-solid fa-angles-right text-white"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
