<div class="home-hero hero">
    <div class="innertext hero-text">
        <h1>A Modern Courier Solution</h1>
        <h4>Find a way to make a path</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
    </div>
</div>

<div class="div-type-2">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1>Features </h1>
                </div>
                <div class="col-sm-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna
                    aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Posuere sollicitudin aliquam
                    ultrices
                    sagittis orci a scelerisque purus semper. Et egestas quis ipsum suspendisse ultrices. Aenean
                    pharetra magna ac
                    placerat vestibulum lectus mauris ultrices eros. Cras ornare arcu dui vivamus. Vehicula ipsum a arcu
                    cursus
                    vitae
                    congue mauris rhoncus. Leo a diam sollicitudin tempor id eu nisl nunc mi. Ut sem viverra aliquet
                    eget sit amet
                    tellus. Ipsum consequat nisl vel pretium. Etiam dignissim diam quis enim lobortis. Venenatis lectus
                    magna
                    fringilla
                    urna porttitor rhoncus dolor purus non. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
                    tincidunt
                    ornare
                    massa. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Sed blandit libero volutpat
                    sed.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-1">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna
                    aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Posuere sollicitudin aliquam
                    ultrices
                    sagittis orci a scelerisque purus semper. Et egestas quis ipsum suspendisse ultrices. Aenean
                    pharetra magna ac
                    placerat vestibulum lectus mauris ultrices eros. Cras ornare arcu dui vivamus. Vehicula ipsum a arcu
                    cursus
                    vitae
                    congue mauris rhoncus. Leo a diam sollicitudin tempor id eu nisl nunc mi. Ut sem viverra aliquet
                    eget sit amet
                    tellus. Ipsum consequat nisl vel pretium. Etiam dignissim diam quis enim lobortis. Venenatis lectus
                    magna
                    fringilla
                    urna porttitor rhoncus dolor purus non. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
                    tincidunt
                    ornare
                    massa. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Sed blandit libero volutpat
                    sed.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-2">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="../images/shipping-thumbnail.png"><br><br>
                </div>
                <div class="col-sm-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna
                    aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Posuere sollicitudin aliquam
                    ultrices
                    sagittis orci a scelerisque purus semper. Et egestas quis ipsum suspendisse ultrices. Aenean
                    pharetra magna ac
                    placerat vestibulum lectus mauris ultrices eros. Cras ornare arcu dui vivamus. Vehicula ipsum a arcu
                    cursus
                    vitae
                    congue mauris rhoncus. Leo a diam sollicitudin tempor id eu nisl nunc mi. Ut sem viverra aliquet
                    eget sit amet
                    tellus. Ipsum consequat nisl vel pretium. Etiam dignissim diam quis enim lobortis. Venenatis lectus
                    magna
                    fringilla
                    urna porttitor rhoncus dolor purus non. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
                    tincidunt
                    ornare
                    massa. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Sed blandit libero volutpat
                    sed.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-1">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna
                    aliqua. Enim blandit volutpat maecenas volutpat blandit aliquam etiam. Posuere sollicitudin aliquam
                    ultrices
                    sagittis orci a scelerisque purus semper. Et egestas quis ipsum suspendisse ultrices. Aenean
                    pharetra magna ac
                    placerat vestibulum lectus mauris ultrices eros. Cras ornare arcu dui vivamus. Vehicula ipsum a arcu
                    cursus
                    vitae
                    congue mauris rhoncus. Leo a diam sollicitudin tempor id eu nisl nunc mi. Ut sem viverra aliquet
                    eget sit amet
                    tellus. Ipsum consequat nisl vel pretium. Etiam dignissim diam quis enim lobortis. Venenatis lectus
                    magna
                    fringilla
                    urna porttitor rhoncus dolor purus non. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
                    tincidunt
                    ornare
                    massa. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Sed blandit libero volutpat
                    sed.
                </div>
            </div>
        </div>
    </div>
</div>