<div class="home-hero hero" style="background-image: url('../images/warehouse.jpg');">
    <div class="innertext hero-text">
        <h1>A Modern Courier Solution</h1>
        <h5>Find a way to delivery your business</h5>
        Increase your shipping speeds. Improve your customer-service experience. Modernize your overall business with
        our lightweight CourierTek software.
        <div style="padding-top: 50px;">
            <a href="/feature">
                <button type="button" class="btn btn-warning btn-lg">
                    <strong>See More Details</strong>
                </button>
            </a>
        </div>
    </div>
</div>

<div class="div-type-2" id="mobility">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-md" src="../images/logistics-phone.jpg"><br><br>
                </div>
                <div class="col-sm-6">
                    <a href="#mobility">
                        <h1>Mobility <i class="fa-solid fa-mobile-screen-button"></i></h1>
                    </a>

                    CourierTek is aimed at improving the overall mobility of your business. Instead of limiting business
                    operations to strictly from your office or workstation, access your company shipping logistics
                    directly from a mobile device. View all inbound and outbound transactions from your mobile device as
                    you would from a computer without any shortage of details. CourierTek is optimized for all mobile
                    device sizes and supports current internet browsers.

                    <div style="padding-top: 50px;">
                        <a href="/feature/#mobility">
                            <button type="button" class="btn btn-warning btn-lg">See Full Details
                                <i class="fa-solid fa-angles-right text-black"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-1" id="efficiency">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="#efficiency">
                        <h1>Efficiency <i class="fa-solid fa-gauge-high"></i></h1>
                    </a>

                    CourierTek is a lightweight product that is optimized for a seamless user-experience as a web or
                    mobile application - there is no compromise. The lightweight characteristic is intended to help
                    businesses maintain competitiveness within the fast-shipping industry. CourierTek's tailored
                    interface has an efficiently mapped navigation for quick and easy access to any of the application
                    features. The courier business has evolved into a fast-paced industry - efficiency and speed are
                    key! CourierTek can help bolster your business to industry standards.

                </div>
                <div class="col-sm-6">
                    <img class="img-md" src="../images/organization-people-1.jpg"><br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-type-2" id="customerxp">
    <div class="innertext">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-md" src="../images/shipping-people-1.jpg"><br><br>
                </div>
                <div class="col-sm-6">
                    <a href="#customerxp">
                        <h1>Better Customer Service Experience
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </h1>
                    </a>



                    <div style="padding-top: 50px;">
                        <a href="/feature/#support">
                            <button type="button" class="btn btn-warning btn-lg">See How
                                <i class="fa-solid fa-angles-right text-black"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>